{% extends "proveedor/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Agregar Proveedor</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      El nuevo proveedor se agregó correctamente.
      <a href="{% url 'index' %}" class="alert-link">Ir a la página de inicio.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Registro De Proveedores
            </div>
            <div class="card-body">
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}